$darkergreen:#003412;
$lightgreen:#038C33;
$lightblue :#ADD9BD;
$lemon: #8FBF26;
$white: #F2F2F2;
$darkgreen: #1F6036;
$whiten:#E5E5E5;
$gray:#6C757D;
$grey:#F9FCFE;
$whitish:#FFFFFF;
$border:#D6D6D6;
